:root {
    --primary-accent: orangered;
    --primary-backround:#404347;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: url('./assets/low-poly-grid-haikei.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label, h3, p {
    color: white;
}

#data_range_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

#data_range_form > * {
    margin: 0.3em;
    text-align: center;
    font-weight: 700;
    width: 100%;
}

#data_range_form > input[type="date"] {
    background-color: var(--primary-backround);
    color: white;
    padding: 1em;
    border-radius: 1em;
    border-width: 0;
    width: 100%;
}

#data_range_form > input[type="submit"] {
    background-color: var(--primary-accent);
    color: white;
    padding: 1em;
    border-radius: 1em;
    border-width: 0;
    transition: filter 0.2s ease-in-out;
}

#data_range_form > input[type="submit"]:hover {
    filter: brightness(0.8);
    transition: filter 0.2s ease-in-out;
}

/*media query for mobile*/
@media screen and (max-width: 640px) {
    #data_range_form > input[type="date"] {
        width: 100%;
    }
}

#data_range_results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.result_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    padding: 1em;
    background-color: var(--primary-backround);
    border-radius: 1em;
    border-width: 0;
    width: 100%;
}